.unidirectionalAlgo {
  position: absolute;
  top: 10%;
  left: 8%;
  display: flex;
  width: 170%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.bidirectionalAlgo {
  position: absolute;
  top: 30%;
  left: 8%;
  display: flex;
  width: 170%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.mazes {
  position: absolute;
  top: 50%;
  left: 8%;
  display: flex;
  width: 170%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.unidirectionalAlgo .active {
  z-index: 9;
}

.bidirectionalAlgo .active {
  z-index: 7;
}

.mazes .active {
  z-index: 5;
}

.options-list {
  color: #f5f6fa;
  background: #2f3640;
  max-height: 0;
  width: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  z-index: -10;
}

.option {
  padding: 10px 20px;
  cursor: pointer;
}

.option:hover {
  color: rgb(164, 112, 231);
  background: #414b57;
}

label {
  cursor: pointer;
}

.radio {
  display: none;
}

.select {
  color: #f5f6fa;
  background: #2f3640;
  border-radius: 8px;
  margin-right: 5px;
  width: 50%;
  height: max-content;
  padding: 10px 20px;
  order: 0;
  cursor: pointer;
  position: relative;
  opacity: 0.95;
}

.select:hover {
  color: rgb(161, 97, 245);
}

.select::after {
  content: "";
  background: url("../img/downArrow.png");
  filter: invert(100%);
  -webkit-filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  transform: rotate(-90deg);
  height: 100%;
  width: 28px;
  top: 0;
  right: 0;

  transition: all 0.4s ease-in-out;
}

.options-list.active {
  max-height: 240px;
  opacity: 0.98;
}

.options-list.active + .select::after {
  transform: rotate(90deg);
  right: 7px;
}
