* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --rows: 25;
  --cols: 51;
}

body {
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8%;
  background-image: linear-gradient(
    rgba(15, 12, 41, 0.85),
    rgba(48, 43, 99, 0.85),
    rgba(36, 36, 62, 0.85)
  );
  border-bottom: 1px solid black;
  position: relative;
}

.nav-bar a {
  position: absolute;
  text-decoration: none;
  left: 1.5%;
}

.nav-bar h1 {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 6px black;
}

.nav-bar h1:hover {
  color: rgba(170, 101, 255, 0.75);
}

.nav-bar h1:active {
  color: rgba(170, 101, 255, 0.95);
  text-shadow: -1px -1px 3px black;
}

.container {
  height: 92%;
  display: flex;
}

.left-section {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.menu-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(
    rgba(18, 194, 233, 0.75),
    rgba(196, 113, 237, 0.75),
    rgba(246, 79, 89, 0.75)
  );
}

.btn {
  outline: none;
  padding: 1.7vmin 1.8vmin;
  margin: 0 2.5vmin;
  border-radius: 1vmin;
  font-size: 0.9em;
  font-weight: 700;
  border: 1px solid black;
  box-shadow: 1px 1px 6px black;
  cursor: pointer;
}

.btn:hover {
  color: rgb(122, 52, 212);
}

.btn:active {
  color: rgb(226, 219, 235);
  box-shadow: 1px 1px 8px black inset;
}

.btn-primary {
  color: white;
  background: rgb(11, 194, 11);
}

.btn-nav {
  margin-right: 3.8%;
  margin-bottom: 2px;
}

#visualize {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 1.5vmin 3vmin;
  margin: 0;
  font-size: 1em;
}

.btn-inactive {
  color: white;
  background: rgb(232, 0, 0, 0.75);
  pointer-events: none;
}

.info-area {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10%;
  background: linear-gradient(to right, rgb(7, 37, 63), rgb(42, 3, 61));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-top: 1.5px solid rgb(10, 101, 170);
}

.info-line {
  display: flex;
}

.color-box {
  width: 1.4em;
  height: 1.4em;
  border: 1px solid black;
}

.info-line h3 {
  margin-left: 10%;
}

.start-node {
  background: rgba(0, 128, 0, 0.9);
}

.goal-node {
  background: rgba(255, 0, 0, 0.9);
}

.marked-node {
  background: rgba(255, 255, 0, 0.75);
}

.visited-node {
  background: rgba(253, 64, 39, 0.75);
}

.right-section {
  width: 85%;
  border-left: 1px solid rgb(10, 101, 170);
  border-top: 2px solid rgb(57, 161, 241);
  z-index: 1;
}

.grid-board {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
  z-index: 3;
}

.grid-board.inactive {
  pointer-events: none;
}

.cell {
  border: 0.1px solid rgb(175, 216, 248);
}

.marked {
  background: rgba(255, 255, 0, 0.75);
  border: 0.1px solid rgba(0, 174, 255, 0.8);
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  background: rgba(253, 64, 39, 0.75);
  border: 0.1px solid rgba(207, 85, 69, 0.75);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background: rgba(73, 11, 35, 0.75);
    border-radius: 100%;
  }
  25% {
    transform: scale(0.5);
    background: rgba(131, 58, 180, 0.75);
    border: 0.1px solid rgba(106, 25, 160, 0.75);
  }
  50% {
    transform: scale(0.75);
    background: rgba(192, 43, 105, 0.75);
  }
  75% {
    transform: scale(1.02);
    background: rgba(214, 72, 81, 0.75);
    border: 0.1px solid rgba(151, 29, 92, 0.75);
  }
  100% {
    transform: scale(1);
  }
}

.path {
  animation-name: pathAnimation;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  background: rgb(201, 105, 224);
  border: 0.1px solid rgb(194, 48, 230);
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.75);
    background: rgb(201, 105, 224);
  }
  50% {
    transform: scale(0.9);
  }
  80% {
    tranform: scale(1.3);
  }
}

.wall-node {
  background: rgb(7, 37, 63);
  border: 0.1px solid transparent;
}

.wall {
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  background: rgb(7, 37, 63);
  border: 0.1px solid transparent;
}

@keyframes wallAnimation {
  0% {
    background: rgb(50, 31, 82);
    transform: scale(0.45);
  }
  50% {
    background: rgb(47, 15, 99);
    transform: scale(0.85);
  }
  75% {
    background: rgb(7, 37, 37);
    transform: scale(1.2);
  }
  100% {
    tranform: scale(1);
  }
}

.starting-cell {
  background: rgba(0, 128, 0, 0.85);
  border: 0.1px solid rgb(175, 216, 248);
}

.ending-cell {
  background: rgba(255, 0, 0, 0.85);
  border: 0.1px solid rgb(175, 216, 248);
}

.way {
  background: rgb(201, 105, 224);
  border: 0.1px solid rgb(194, 48, 230);
  position: relative;
}

.line {
  position: absolute;
  width: 18%;
  height: 105%;
  left: 50%;
  bottom: 50%;
  border-radius: 25%;
  transform-origin: bottom;
  background: yellow;
  z-index: 10;
}

.top {
  transform: translateX(-50%);
}

.right {
  transform: translateX(-50%) rotate(90deg);
}

.bottom {
  transform: translateX(-50%) rotate(180deg);
}

.left {
  transform: translateX(-50%) rotate(270deg);
}
