.navbar {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2f3640f2;
  border-bottom: 1px solid #2f3640;
  position: relative;
}

.navbar a {
  position: absolute;
  text-decoration: none;
  left: 1.25%;
}

.navbar h1 {
  font-size: 1.4rem;
  color: #ffffffd9;
  text-shadow: 1px 1px 6px #000;
}

.navbar h1:hover {
  color: #369bda;
}

.navbar h1:active {
  color: #369bda;
  text-shadow: -1px -1px 3px #000;
}

.navbar .btn:last-child {
  margin-right: 1.5%;
}
